@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*------------------General Styles -----------------------*/

html {
    font-family: "Roboto";
}

/*------------------Landing Page Styles -----------------------*/

header {
    background-color: #171717;
}

.navbar-customise {
    background-color: transparent;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 20px;
    width: 100%;
    padding-right: 0;
}

.navbar-brand {
    width: 200px;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    max-height: 75px;
    margin-right: 55px;
}

.navbar-brand .logo {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto";
    font-weight: 700;
}

.navbar-brand .logo-text {
    color: white;
    font-size: 1rem;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 19px;
    padding-left: 5px;
}

.navbar-brand .logo-text span {
    height: 17px;
}

.navbar-brand div span {
    display: block;
}

.navbar .nav-button-customise {
    color: #fff;
    background-color: #f8f8f8;
    height: 57px;
    border-right: 0px;
    border-radius: 0px;
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
}


.landing-info {
    position: absolute;
    top: 250px;
    left: 30px;
    z-index: 100;
    color: #fff;
}

.landing-info h1 {
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
}

.landing-images .landing-info div {
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 50px;
    opacity: 0;
}

.mission {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 18px 30px;
}

.mission:hover {
    text-decoration: none;
    color: #fff;
}

.landing-images {
    position: relative;
}



.landing-images div {
    padding: 0 0;
    margin: 0 0;
}

.large-carousel {
    height: 80vh;
    opacity: 0.6;
}


.carousel-item {
    height: 100%;
}

.landing-side-images .top-image {
    width: 100%;
    height: 20vh;
    background: url("https://images.unsplash.com/photo-1550358490-50130c88536a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.landing-side-images .bottom-image {
    width: 100%;
    height: 20vh;
    background: url("https://images.unsplash.com/photo-1445053148743-7fdbc0ab0e99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*----------------------Media Queries for landing page-------------------*/

@media(min-width: 768px) {
    .landing-side-images .top-image {
        height: 75vh;
    }
    .landing-side-images .bottom-image {
        height: 25vh;
    }
    .large-carousel {
        height: 100vh;
    }
    .navbar-brand {
        margin-right: 180px;
    }
    .navbar-brand .logo {
        padding: 0 10px;
    }
    .navbar-brand .logo-text {
        font-size: 0.7rem;
        font-weight: 300;
        letter-spacing: 4px;
    }
    .navbar .navbar-nav .nav-link {
        padding-left: 20px;
    }
    #navbarNavAltMarkup {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 100px;
    }
    .landing-info h1 {
        font-size: 6.25rem;
    }
    .landing-images .landing-info div {
        opacity: 1;
    }
    .landing-info {
        top: 150px;
    }

}

@media(min-width: 1025px) {

    .navbar-customise {
        padding-left: 110px;
    }

    .landing-images .landing-info {
        padding-right: 250px;
    }
    .landing-info {
        left: 100px;
    }

}



/*------------------ Styles -----------------------*/

/*---------------Test Styles (to be removed on deployment) --------------------*/

.test1 {
    width: 100%;
    height: 400px;
    background-color: orange;
}

.test1 {
    width: 100%;
    height: 400px;
    background-color: orange;
}
